# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [4]:
!pip install pandas

import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

Requirement already satisfied: pandas in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rafae\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafae\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rafae\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [7]:
#SEU CÓDIGO COMEÇA AQUI
df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [9]:
#SEU CÓDIGO COMEÇA AQUI
df.shape

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [10]:
#SEU CÓDIGO COMEÇA AQUI
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [14]:
#SEU CÓDIGO COMEÇA AQUI
df.isnull().values.any()

False

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [17]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
df.drop(remover, axis = 1, inplace= True)
df.head()

,gender,race/ethnicity,test preparation course,math score,reading score,writing score
0,female,group B,none,72,72,74
1,female,group C,completed,69,90,88
2,female,group B,none,90,95,93
3,male,group A,none,47,57,44
4,male,group C,none,76,78,75

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [25]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

#SEU CÓDIGO COMEÇA AQUI
df.rename(columns= nome_colunas, inplace = True)
df.head()

   Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  Nota_Redação
0  female    group B       none               72            72            74
1  female    group C  completed               69            90            88
2  female    group B       none               90            95            93
3    male    group A       none               47            57            44
4    male    group C       none               76            78            75

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [26]:
#SEU CÓDIGO COMEÇA AQUI
df.describe()

       Nota_Matemática  Nota_Leitura  Nota_Redação
count       1000.00000   1000.000000   1000.000000
mean          66.08900     69.169000     68.054000
std           15.16308     14.600192     15.195657
min            0.00000     17.000000     10.000000
25%           57.00000     59.000000     57.750000
50%           66.00000     70.000000     69.000000
75%           77.00000     79.000000     79.000000
max          100.00000    100.000000    100.000000

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [51]:
#SEU CÓDIGO COMEÇA AQUI
import numpy as np

condicao4 = [(df['Nota_Matemática'] > df['Nota_Matemática'].mean())&(df['Nota_Leitura'] > df['Nota_Leitura'].mean())&(df['Nota_Redação'] > df['Nota_Redação'].mean()), (df['Nota_Matemática'] <= df['Nota_Matemática'].mean()), (df['Nota_Leitura'] <= df['Nota_Leitura'].mean()), (df['Nota_Redação'] <= df['Nota_Redação'].mean())]

valores = ['Sim', 'Não', 'Não', 'Não']

df['Aluno acima da média'] = np.select(condicao4, valores)
#df.head()
mask4 = df['Aluno acima da média'] == 'Sim'
df_acima_media = df[mask4]
#df_acima_media.head()
print(f'Na base original haviam {df['Aluno acima da média'].count()} alunos no total. Desses, {df_acima_media['Aluno acima da média'].count()} são acima da média.')

Na base original haviam 1000 alunos no total. Desses, 374 são acima da média.

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [63]:
#SEU CÓDIGO COMEÇA AQUI
df['Nota_Geral'] = (df['Nota_Matemática']+df['Nota_Leitura']+df['Nota_Redação'])/3
df.sort_values('Nota_Geral', inplace= True, ascending= False)
df.head()

,Gênero,Raça/Etnia,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação,Aluno acima da média,Nota_Geral
962,female,group E,none,100,100,100,Sim,100.000000
916,male,group E,completed,100,100,100,Sim,100.000000
458,female,group E,none,100,100,100,Sim,100.000000
114,female,group E,completed,99,100,100,Sim,99.666667
179,female,group D,completed,97,100,100,Sim,99.000000

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [68]:
#SEU CÓDIGO COMEÇA AQUI
df['Gênero'].value_counts()

Gênero
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [69]:
#SEU CÓDIGO COMEÇA AQUI
df['Raça/Etnia'].value_counts()

Raça/Etnia
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [70]:
#SEU CÓDIGO COMEÇA AQUI
df['Curso_Prep'].value_counts()

Curso_Prep
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [71]:
#SEU CÓDIGO COMEÇA AQUI

genero = df.groupby('Gênero')

media = genero["Curso_Prep"].value_counts(normalize=True)

media

Gênero  Curso_Prep
female  none          0.644788
        completed     0.355212
male    none          0.639004
        completed     0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [103]:
#SEU CÓDIGO COMEÇA AQUI
# agrupando para cada uma das variáveis de interesse
genero = df.groupby('Gênero')
raça = df.groupby('Raça/Etnia')
cursoprep = df.groupby('Curso_Prep')

#genero.head()
#verificando a diferença de médias
diferença_genero_matematica = genero['Nota_Matemática'].mean().max() - genero['Nota_Matemática'].mean().min()
print(f'A diferença da maior média pra menor média entre gêneros na disciplina de matemática é {round(diferença_genero_matematica, 3)}')

diferença_genero_leitura = genero['Nota_Leitura'].mean().max() - genero['Nota_Leitura'].mean().min()
print(f'A diferença da maior média pra menor média entre gêneros na disciplina de leitura é {round(diferença_genero_leitura, 3)}')

diferença_genero_redação = genero['Nota_Redação'].mean().max() - genero['Nota_Redação'].mean().min()
print(f'A diferença da maior média pra menor média entre gêneros na disciplina de redação é {round(diferença_genero_redação, 3)}')

# Portanto, temos que a disciplina mais influenciada é a de redação

A diferença da maior média pra menor média entre gêneros na disciplina de matemática é 5.095
A diferença da maior média pra menor média entre gêneros na disciplina de leitura é 7.135
A diferença da maior média pra menor média entre gêneros na disciplina de redação é 9.156

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [100]:
#SEU CÓDIGO COMEÇA AQUI
#verificando a diferença de médias
diferença_raça_matematica = raça['Nota_Matemática'].mean().max() - raça['Nota_Matemática'].mean().min()
print(f'A diferença da maior média pra menor média entre raças na disciplina de matemática é {round(diferença_raça_matematica, 3)}')

diferença_raça_leitura = raça['Nota_Leitura'].mean().max() - raça['Nota_Leitura'].mean().min()
print(f'A diferença da maior média pra menor média entre raças na disciplina de leitura é {round(diferença_raça_leitura, 3)}')

diferença_raça_redação = raça['Nota_Redação'].mean().max() - raça['Nota_Redação'].mean().min()
print(f'A diferença da maior média pra menor média entre raças na disciplina de redação é {round(diferença_raça_redação, 3)}')

# Portanto, temos que a disciplina mais influenciada é a de matemática

A diferença da maior média pra menor média entre raças na disciplina de matemática é 12.192
A diferença da maior média pra menor média entre raças na disciplina de leitura é 8.354
A diferença da maior média pra menor média entre raças na disciplina de redação é 8.733

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [101]:
#SEU CÓDIGO COMEÇA AQUI
#verificando a diferença de médias
diferença_cursoprep_matematica = cursoprep['Nota_Matemática'].mean().max() - cursoprep['Nota_Matemática'].mean().min()
print(f'A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de matemática é {round(diferença_cursoprep_matematica, 3)}')

diferença_cursoprep_leitura = cursoprep['Nota_Leitura'].mean().max() - cursoprep['Nota_Leitura'].mean().min()
print(f'A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de leitura é {round(diferença_cursoprep_leitura, 3)}')

diferença_cursoprep_redação = cursoprep['Nota_Redação'].mean().max() - cursoprep['Nota_Redação'].mean().min()
print(f'A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de redação é {round(diferença_cursoprep_redação, 3)}')

# Portanto, temos que a disciplina mais influenciada é a de redação.

A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de matemática é 5.618
A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de leitura é 7.36
A diferença da maior média pra menor média entre aqueles que fizeram curso preparatório ou não na disciplina de redação é 9.914

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [108]:
#SEU CÓDIGO COMEÇA AQUI
diferença_genero_geral = genero['Nota_Geral'].mean().max() - genero['Nota_Geral'].mean().min()
diferença_raça_geral = raça['Nota_Geral'].mean().max() - raça['Nota_Geral'].mean().min()
diferença_cursoprep_geral = cursoprep['Nota_Geral'].mean().max() - cursoprep['Nota_Geral'].mean().min()

print(f'A diferença da maior média geral pra menor entre gêneros é de {round(diferença_genero_geral, 3)}')
print(f'A diferença da maior média geral pra menor entre raças é de {round(diferença_raça_geral, 3)}')
print(f'A diferença da maior média geral pra menor entre aqueles que fizeram curso preparatório ou não é de {round(diferença_cursoprep_geral, 3)}')

# Portanto, temos que o fator que teve maior diferença foi a Raça/Etnia.

A diferença da maior média geral pra menor entre gêneros é de 3.732
A diferença da maior média geral pra menor entre raças é de 9.76
A diferença da maior média geral pra menor entre aqueles que fizeram curso preparatório ou não é de 7.631